@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

::-webkit-scrollbar {
  width: 5px;
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc20d;
  border-radius: 5px;
}

* {
  font-family: "Poppins", sans-serif;
}

.main-heading {
  font-family: "Montserrat", sans-serif;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  top: 0;
  left: 0;
}

.hero-image {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  top: 0;
  left: 0;
}

/* Modal container */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust the z-index as needed */
}

/* Scrollable modal content */
.ReactModal__Content {
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  color: white; /* Text color for modal content */
  border-radius: 10px; /* Rounded corners for the modal */
}
